spring:
  datasource:
    url: jdbc:postgresql://postgres:5432/ticketdb
    username: ticketuser
    password: ticketpass

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false

  flyway:
    enabled: true

server:
  port: 8080
